<p id="notice"><%= notice %></p>

<div class="col-sm-8 blog-main">
    <%= paginate @blogs %>
  <%= @blogs.each do |blog|%>
  <div class="blog-post">
    <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog_path(blog) %></h2>
    <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at,Time.now) %> ago</p>
    <% if logged_in?(:site_admin) %>
    <p class="blog-post-meta"><%= link_to blog.status, toggle_status_blog_path(blog)%> / <%= link_to 'Edit', edit_blog_path(blog)%>
      / <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }%>
    </p>
    <% end %>
    <p><%= blog.body %></p>
  </div><!-- /.blog-post -->
  <% end %>

  <%= paginate @blogs %>

</div><!-- /.blog-main -->


<!-- <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title.upcase %></td>
        <td><%= truncate(blog.body,:ommision => "...Read More", :length => 150) %></td>
        <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
