<h1>Portfolio Items</h1>
<%= link_to "Create New",new_portfolio_path  %>
<% @portfolios.each do |portfolio| %>
<p><%=  portfolio.title %></p>
<p><%=  portfolio.subtitle %></p>
<p><%=  truncate(portfolio.body,:ommision => "...", :length => 150)%></p>
<%= image_tag portfolio.thumb_image if !portfolio.thumb_image.nil?%>
<%= link_to "Edit", edit_portfolio_path(portfolio.id) %>
<% end %>
